html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        background-color: #6B7283;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0 0 10px 0;
}

li:hover, li:focus, li:active {
  color: #2980b9;
  font-weight: 900;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 0;
}
p {
  margin: 0 0 10px;
}


#map-canvas {
  height: 100%;
  width: 100%;
  float: right;
}


#control {
  position: absolute;
  z-index: 1;
  width: 240px;
}

.input {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
  width: 240px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: fixed;
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */

}

#main.open {
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;

}
#main {
  top: 0;
  left: 0;
  margin-top: 55px;
  z-index: 8;
  position: fixed;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.cards-card {
  margin-top: 5px;
  clip: rect(-10px 428px 41px -10px);
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 10px 30px 20px 20px;
  overflow-y: auto;
}

.header__menu {
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  z-index: 10;
  left: 200px;
}
.header__menu svg {
    width: 32px;
    fill: #E0E0E0;
}





